.header-wrapper {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    position: fixed;
    top: 0px;
    background-color: transparent;
    z-index: 90;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;

    &.scrolled {
        background-color: white;
        box-shadow: 1px 1px #d3d3d3;
        -webkit-transition: background-color 200ms linear;
        -ms-transition: background-color 200ms linear;
        transition: background-color 200ms linear;
    }

    @media screen and (max-width: $tabletBreak) {
        &.scrolled {
            // background-color: $lightnavy;
        }
    }

    @media screen and (min-width: $tabletBreak) {
        &.scrolled {
            background-color: white;
            box-shadow: 1px 1px #d3d3d3;
            -webkit-transition: background-color 200ms linear;
            -ms-transition: background-color 200ms linear;
            transition: background-color 200ms linear;
        }
    }

    .wrapper {
        width: 100%;
        max-width: 1450px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .logo-wrapper {
            display: flex;
            align-items: center;
            height: 100%;

            .my-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-width: 100px;
                max-height: 100%;
                height: 100%;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .btn {}
        }

        .contact-us {
            .contact {
                text-decoration: none;
                display: flex;
                gap: 5px;
                align-items: center;

                svg {
                    width: 26px;
                    height: 26px;
                    // color: $darkblue;
                }

                span {
                    // color: $darkblue;
                    font-size: 1.45em;
                }
            }
        }


    }

    .NavigationItems {
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        height: 100%;
        flex-flow: row;
        gap: 40px;

        .NavigationItem {
            display: block;
            width: 100%;
            padding: 0;

            .NavLink {
                display: block;

                width: 100%;
                text-align: center;
                color: $darkblue;
                text-decoration: none;
                width: 100%;
                font-size: 1.2em;
                padding: 0;

                position: relative;

                &::before {
                    transition: 300ms;
                    height: 3px;
                    content: "";
                    position: absolute;
                    background-color: $lightorange;
                    width: 0%;
                    bottom: -3px;
                }

                &:hover {
                    &::before {
                        width: 100%;
                    }
                }

                &.active {
                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }

    a {
        cursor: pointer;
    }

    .DrawerToggle {
        width: 40px;
        height: fit-content;
        align-items: center;
        cursor: pointer;

        @media (min-width: $tabletBreak) {
            display: none;
        }
    }

    .Burger {
        position: relative;
        width: 40px;
        height: 3px;
        background: $darkblue;
        transform-origin: center;

        &::before,
        &::after {
            position: absolute;
            width: inherit;
            height: inherit;
            background: inherit;
            content: '';
            transform: rotate(0deg);
            transition-duration: 0.15s;
        }

        &::before {
            top: -12px;
        }

        &::after {
            bottom: -12px;
        }

        &.active {
            background-color: transparent;

            &::before,
            &::after {
                background-color: $secondayColor;
                top: 0;
                transition-duration: 0.15s;
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }
    }

    @media (max-width: $tabletBreak) {
        .DesktopOnly {
            display: none;
        }

        .Toolbar {
            height: 95px;
            top: 0px;
            position: absolute;
            z-index: 99999;
            background-color: $lightnavy;
        }

        .Logo {
            display: block;
            width: 95px;
            margin-top: 0px;
            margin-left: 5px;
            cursor: pointer;
        }
    }
}

.Footer {
    background-color: $darkblue;
    position: relative;
    padding: 35px 0;
    text-align: center;
    font-family: "Roboto";
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .FooterDiv {
        display: block;
        margin: 0 auto;
        width: fit-content;

        p {
            color: white;
            font-family: 'Source Sans Pro';
        }

        .FooterContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 40px;
            align-items: center;

            .footerImage {
                justify-content: space-between;
                text-align: center;
                font-size: 30px;

                svg {
                    color: white;
                    fill: white;
                }

                img {
                    width: 35px;
                }
            }
        }
    }
}

.Modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;

    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: min(90%, 850px);
        display: block;
        background-color: #fff;
        height: fit-content;
        padding: 40px;

        height: min(80vh, 600px);
        border-radius: 20px;
    }

    @media screen and (max-width: $tabletBreak) {
        .modal-content {
            top: 100px;
            transform: translate(-50%, 0);
        }
    }
}

#close {
    height: 20px;
    width: 20px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 15px;

    &::after {
        position: absolute;
        content: "\d7";
        font-size: 35px;
        color: black;
        font-weight: bold;
        top: 0;
        left: 0;
    }
}

#sidebar-modal {
    position: absolute;
    top: 90px;
    right: 0;
    z-index: 9999;
    width: min(90%, 450px);
    height: fit-content;
    max-height: 100svh;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-color: white;

    .sidebar-wrapper {
        padding: 15px 25px;

        .NavigationItems {
            list-style: none;
            display: flex;
            align-items: center;
            flex-flow: column;
            padding: 0;
            gap: 20px;

            .NavigationItem {
                margin: 0;
                display: block;
                width: 100%;
                border-bottom: 2px solid $offwhite;

                &:last-of-type {
                    border: none;
                }

                .NavLink {
                    display: block;
                    margin: 0 auto;
                    width: 100%;
                    text-align: center;
                    color: $darkblue;
                    text-decoration: none;
                    width: 100%;
                    font-size: 1.25em;
                    font-family: 'Poppins Regular';
                    padding: 0 0px 15px;

                    &:hover,
                    &:active,
                    &.active {
                        color: $lightorange;
                        border: none;
                    }

                    &::before {
                        border: none;
                        background-color: transparent;
                    }
                }
            }
        }

    }
}