:root {}

// FONTS
@font-face {
    font-family: "Bariol";
    src: url("../fonts/bariol_regular-webfont.eot");
    src: url("../fonts/font-name.eot?#iefix") format("embedded-opentype"),
        url("../fonts/bariol_regular-webfont.woff") format("woff"), url("../fonts/bariol.ttf") format("truetype"),
        url("../fonts/bariol_regular-webfont.svg#bariol") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Honeymoon Avenue Script";
    src: url("../fonts/Honeymoon_Avenue_Script.ttf") format("truetype"),
        url("../fonts/Honeymoon_Avenue_Script.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bariol Light";
    src: url("../fonts/Bariol_Light.ttf") format("truetype"), url("../fonts/Bariol_Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Sans Light";
    src: url("../fonts/SourceSansPro-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bariol Bold";
    src: url("../fonts/Bariol_Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins Bold";
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins Regular";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins Light";
    src: url("../fonts/Poppins-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Condensed Regular";
    src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Condensed Bold";
    src: url("../fonts/RobotoCondensed-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "American Typewriter Bold";
    src: url("../fonts/American_Typewriter_Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


$contentMaxWidth: 1440px;

// media queries
$tabletBreak: 947px;
$mobileLargeBreak: 767px;
$mobileMediumBreak: 514px;
$mobileSmallBreak: 350px;

$primaryColor: #e98266;
$secondaryColor: #282A39;

$lightblue: #f3f8fb;
$offwhite: #f8f8f8;


$success: #2bb579;
$danger: #da534f;
$warning: #f0ad4e;
$neutral: gray;
$normal: #418aca;



$black: #090A11;
$grey: #393B44;
$brown: #4C3227;
$darkgrey: #53535B;
$lightgrey: #CCC4C2;
$darkorange: #B44C31;
$lightorange: #D78D6C;
$lightnavy: #333647;


@mixin arrow-down($size, $color) {
    width: 0;
    height: 0;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
}

@mixin arrow-up($size, $color) {
    width: 0;
    height: 0;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
}

@mixin spherize($size, $border: 1px solid #aaa) {
    width: $size;
    height: $size;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: $border;
    background-position: -27px -7px;
}

@keyframes progressBar {
    0% {
        width: 0;
    }

    100% {
        width: attr(value);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }

    100% {
        transform: translateX(-1000px);
        opacity: 0;
    }
}

@-webkit-keyframes slideOut {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }

    100% {
        transform: translateX(-1000px);
        opacity: 0;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(-3px);
    }

    50% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0px);
    }
}

@-webkit-keyframes sk-circleFadeDelay {

    0%,
    39%,
    100% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}

@keyframes sk-circleFadeDelay {

    0%,
    39%,
    100% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-10%);
        opacity: 0;
        height: 0;
    }

    25% {
        transform: translateY(-7.5%);
        opacity: 0.25;
    }

    50% {
        transform: translateY(-5%);
        opacity: 0.5;
    }

    75% {
        transform: translateY(-2.5%);
        opacity: 0.75;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
        height: 100%;
    }
}

@-webkit-keyframes slideDown {
    0% {
        transform: translateY(-10%);
    }

    50% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes rotate-one {
    100% {
        transform: rotate(36deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotate(36deg);
    }

    100% {
        transform: rotate(72deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotate(72deg);
    }

    100% {
        transform: rotate(108deg);
    }
}

@keyframes rotate-four {
    0% {
        transform: rotate(108deg);
    }

    100% {
        transform: rotate(144deg);
    }
}

@keyframes rotate-five {
    0% {
        transform: rotate(144deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

//pulse loader - start
@keyframes ldio-qs2whpgwd6b-1 {
    0% {
        top: -17.5px;
        height: 135px;
    }

    50% {
        top: 5px;
        height: 90px;
    }

    100% {
        top: 5px;
        height: 90px;
    }
}

@keyframes ldio-qs2whpgwd6b-2 {
    0% {
        top: -11.875px;
        height: 123.75px;
    }

    50% {
        top: 5px;
        height: 90px;
    }

    100% {
        top: 5px;
        height: 90px;
    }
}

@keyframes ldio-qs2whpgwd6b-3 {
    0% {
        top: -6.25px;
        height: 112.5px;
    }

    50% {
        top: 5px;
        height: 90px;
    }

    100% {
        top: 5px;
        height: 90px;
    }
}

@mixin arrow-down($size, $color) {
    width: 0;
    height: 0;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
}

@mixin arrow-up($size, $color) {
    width: 0;
    height: 0;
    border-left: $size solid transparent;
    border-right: $size solid transparent;

    border-bottom: $size solid $color;
}

@mixin spherize($size, $border: 1px solid #aaa) {
    width: $size;
    height: $size;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: $border;
    background-position: -27px -7px;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }

    100% {
        transform: translateX(-1000px);
        opacity: 0;
    }
}

@-webkit-keyframes slideOut {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }

    100% {
        transform: translateX(-1000px);
        opacity: 0;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(-3px)
    }

    50% {
        transform: translateY(-2px)
    }

    100% {
        transform: translateY(0px)
    }
}

@-webkit-keyframes sk-circleFadeDelay {

    0%,
    39%,
    100% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}

@keyframes sk-circleFadeDelay {

    0%,
    39%,
    100% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-10%);
        opacity: 0;
        height: 0;
    }

    25% {
        transform: translateY(-7.5%);
        opacity: 0.25;
    }

    50% {
        transform: translateY(-5%);
        opacity: 0.5;
    }

    75% {
        transform: translateY(-2.5%);
        opacity: 0.75;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
        height: 100%;
    }
}

@-webkit-keyframes slideDown {
    0% {
        transform: translateY(-10%);
    }

    50% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0%);
    }
}


@keyframes rotate-one {
    100% {
        transform: rotate(36deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotate(36deg);
    }

    100% {
        transform: rotate(72deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotate(72deg);
    }

    100% {
        transform: rotate(108deg);
    }
}

@keyframes rotate-four {
    0% {
        transform: rotate(108deg);
    }

    100% {
        transform: rotate(144deg);
    }
}

@keyframes rotate-five {
    0% {
        transform: rotate(144deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes flipInX {
    0% {
        transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotateY(-10deg);
    }

    70% {
        transform: perspective(400px) rotateY(10deg);
    }

    100% {
        transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}

@keyframes progressBar {
    0% {
        width: 0;
    }

    100% {
        width: attr(value)
    }
}

@keyframes wheel {
    0% {
        top: 7px;
        opacity: 1;
    }

    100% {
        top: calc(100% - 10px);
        opacity: 0.7;
    }
}