@import 'variables';
@import 'layout';
@import 'common';

html {
	box-sizing: border-box;
	overflow-x: hidden;
	height: 100%;
}

body,
html {
	width: 100%;
	margin: 0;
	overflow-x: hidden;
	font-family: 'Poppins Regular';
	color: white;
}

* {
	box-sizing: border-box;
	color: $secondaryColor;
	margin: 0;
	padding: 0;
	line-height: normal;
}

.no-scroll {
	overflow: hidden;
}

@media screen and (max-width: $tabletBreak) {
	img {
		animation: none !important;
	}
}

a {
	text-decoration: underline;

	&:hover {
		text-decoration-color: $secondaryColor;
		color: $secondaryColor;
	}
}

::-webkit-scrollbar {
	height: 12px;
	width: 6px;
	background: white;
}

::-webkit-scrollbar-thumb {
	height: 12px;
	width: 5px;
	background: #888;
}

.hero-mouse {
	position: absolute;
	bottom: 3%;
	left: 50%;
	transform: translateX(-50%);

	.mouse {
		width: 25px;
		height: 40px;
		border: 2px solid $secondaryColor;
		border-radius: 60px;
		position: relative;
		overflow: hidden;

		&::before {
			content: '';
			width: 5px;
			height: 5px;
			position: absolute;
			top: 7px;
			left: 50%;
			transform: translateX(-50%);
			background-color: $secondaryColor;
			border-radius: 50%;
			animation: wheel 1.2s infinite;
		}
	}
}

.hero-wrapper {
	display: block;
	margin: auto;
	width: 100%;
	position: relative;
	height: min(650px, 100vh);
	overflow: none;
	align-items: center;
	background: linear-gradient(to right, rgba(245, 245, 245, 0.4), rgba(245, 245, 245, 0.4)), url('/images/common-bg.svg');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-webkit-animation: fadein 1s;
	-moz-animation: fadein 1s;
	-ms-animation: fadein 1s;
	-o-animation: fadein 1s;

	display: flex;
	align-items: center;

	/* Opera */
	.hero-container {
		padding-left: 8em;
		font-weight: 100;
		display: flex;
		flex-direction: column;
		gap: 10px;

		@media screen and (max-width: $tabletBreak) {
			padding-left: 50px;
		}

		.download a {
			font-size: 1.2em;
			text-decoration: none;
			letter-spacing: 1.2px;
			color: $lightorange;
			outline: 2px solid $lightorange;
			padding: 0.75em 2em;
			position: relative;
			overflow: hidden;
			transition: color 1s;
			display: block;
			width: fit-content;
			cursor: pointer;

			span {
				display: flex;
				align-items: center;
				color: $lightorange;
				position: relative;
			}

			svg {
				fill: $lightorange;
			}

			&:hover {
				color: rgb(226, 43, 43) !important;
			}

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: -50px;
				width: 0%;
				height: 100%;
				background-color: $lightorange;
				transform: skewX(35deg);
				z-index: 0;
				transition: all .5s;
			}

			&:hover {
				span {
					color: #fff;
				}

				svg {
					fill: #fff;
				}

				&::before {
					width: 200%;
				}
			}
		}

		h3 {
			font-size: 4.3em;
			width: fit-content;
			color: $secondaryColor;
			text-align: left;

			@media screen and (max-width: $tabletBreak) {
				font-size: 3.6em;
			}
		}
	}

	.heading {
		display: block;
		/* position: absolute; */
		top: 0%;
		color: white;
		font-family: 'Bariol';
		font-size: 32px;
		font-weight: 100;
		letter-spacing: 3px;
		width: 600px;

		h3 {
			font-size: 2em !important;
			color: $secondaryColor;
		}

		@media screen and (max-width: $tabletBreak) {
			left: 50px;
			width: 90%;
		}
	}

	@media screen and (max-width: $tabletBreak) {
		max-height: 850px;
	}
}

.homepage-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0;

	.flex-container-lg {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: min(100%, $contentMaxWidth);

		padding: 5em 2em;
		margin: 0 auto;
	}

	.HomepageContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		height: max(750px, 100svh);

		.homepage-container {
			display: block;
			margin-top: 0px;
			width: min(80%, $contentMaxWidth);
			overflow: none;
			text-align: center;
			align-items: center;
			display: flex;
			flex-direction: row;
			justify-content: center;
			gap: 40px;

			.hero-content {
				display: block;
				color: white;
				flex: 0 0 min(1250px, 50%);
				text-align: left;
				font-family: 'Poppins Regular';

				:is(h1, h2, h3, h4, h5, h6) {
					margin: 0;
					display: block;
					color: $secondaryColor;
				}

				h1 {
					font-size: 4em;
					font-family: 'Poppins Bold';
				}

				h2 {
					font-size: 2em;
					font-family: 'Poppins Light';
				}

				h3 {
					font-size: 4em;
				}

				h4 {
					font-size: 1.5em;
					font-family: 'Poppins Light';
				}

				.hero {
					display: flex;
					gap: 15px;

					.static-text,
					.index-module_type__E-SaG {
						color: #282a39;
						font-size: 2.2em !important;
					}

					@media screen and (max-width: $tabletBreak) {
						gap: 10px;

						.static-text,
						.index-module_type__E-SaG {
							font-size: 1.5em !important;
						}
					}
				}

				.description {
					width: 100%;

					height: fit-content;
					text-align: left;

					p {
						display: block;
						color: $secondaryColor;
						font-size: 1em;
						text-align: left;
						font-family: 'Poppins Light';
						font-weight: normal;
					}
				}

				.btn-wrapper {
					display: flex;
					flex-wrap: wrap;
					gap: 1em;
				}
			}

			.my-image {
				display: block;
				flex: 0 0 min(100%, 300px);
				aspect-ratio: 1/1;
				position: relative;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 50%;
				}
			}

			@media screen and (max-width: $tabletBreak) {
				flex-direction: column-reverse;
				width: min(calc(100% - 120px), $contentMaxWidth);

				.my-image {
					width: 200px;
					flex: 0 0 200px;

					img {
						// position: relative;
						// width: min(100%, 200px);
					}
				}
			}
		}



		@media screen and (max-width: $tabletBreak) {
			min-height: 950px;
			height: fit-content;
		}

		.social-icons-wrapper {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding: 0.5rem;
			box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
			background-color: white;
		}
	}

	.description-container {
		width: 100%;
		padding: 5em 2em;
		background-color: $offwhite;

		@media screen and (max-width: $tabletBreak) {
			padding: 60px 20px;
		}

		.descriptionWrapper {
			display: flex;
			width: min($contentMaxWidth, 100%);
			gap: 4em;
			align-items: flex-start;
			justify-content: center;
			margin: 0 auto;
			flex-wrap: wrap;

			.descriptionImage {
				flex: 1 0 min(60%, 450px);

				img {
					width: 100%;
					display: block;
				}
			}

			.description {
				flex: 1 0 40%;
				color: $secondaryColor;
				display: flex;
				flex-direction: column;
				gap: 10px;

				h1 {
					font-size: 2.4em;
				}

				ul {
					padding-left: 30px;
				}
			}

		}

		@media screen and (max-width: $tabletBreak) {
			.descriptionWrapper {
				width: 90vw;
				flex-direction: column;

				.description {
					width: 100%;
					font-family: 'Poppins Regular';

					h1 {
						font-size: 2em;
					}
				}
			}

		}
	}

	.HexagonsContainer {
		height: fit-content;
		width: 100%;
		min-width: fit-content;
		background-color: white;
		padding: 80px 30px;
		margin: 0px auto;

		.hexagons-wrapper {
			width: min(100%, $contentMaxWidth);
			margin: 0 auto;
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			gap: 30px;
		}

		.AlignHexagon {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;

			.Hexagon {
				position: relative;
				width: 130px;
				height: 75.06px;
				background-color: $secondaryColor;
				margin: 50px 50px 0 50px;
				animation: flipInX 3s;

				&::before,
				&::after {
					content: "";
					position: absolute;
					width: 0;
					border-left: 65px solid transparent;
					border-right: 65px solid transparent;
				}

				&::before {
					bottom: 100%;
					border-bottom: 37.53px solid $secondaryColor;
				}

				&::after {
					top: 100%;
					width: 0;
					border-top: 37.53px solid $secondaryColor;
				}

				.Icons {
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 0 auto;
					width: 100%;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);

					svg {
						fill: white;
						color: white;
					}
				}
			}

			h3 {
				/* margin: 40px 80px 0 80px; */
				text-align: center;

				margin-top: 40px;
				padding: 10px 15px 0 15px;
				width: 200px;
				color: $secondaryColor;
			}

			p {
				margin: 10px;
				padding: 0;
				font-size: 16px;
				width: 200px;
				text-align: center;
				color: $secondaryColor;
			}
		}

		@media (max-width: $tabletBreak) {
			height: fit-content;
			flex-wrap: wrap;
			margin: 0px auto;
			padding: 70px 0;

			.hexagons-wrapper {
				width: 90%;
			}
		}
	}

	.intro-skills-wrapper {
		height: fit-content;
		width: min(100%, $contentMaxWidth);
		background-color: $offwhite;
		padding: 100px 30px;
		margin: 0px auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 40px;

		.IntroContainer {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;

			.Description {
				padding: 0;
				color: $secondaryColor;

				p {
					font-size: 1.15em;
				}

				@media screen and (max-width: $tabletBreak) {
					padding: 20px;
				}
			}
		}

		.SkillsContainer {
			flex: 1;
			display: block;
			padding: 0;

			.SkillsBarContainer {

				height: fit-content;
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 20px;

				.SkillsBar {
					position: relative;
					height: 32px;
					width: 100%;
					border-radius: 50px;
					background: lightgray;
					border: 1px hidden #333;

					.Filler {
						background: $secondaryColor;
						height: 100%;
						border-radius: inherit;
						animation: progressBar 2s ease-in-out;
						animation-fill-mode: both;

						span {
							font-size: 1.15em;
							color: white;

							&:first-child {
								z-index: 200;

								&::after {
									width: fit-content;
									content: attr(value);
									position: absolute;
									top: 4px;
									left: 18px;
								}
							}

							&:nth-child(2) {
								display: inline;
								z-index: 200;

								&::after {
									position: absolute;
									top: 4px;
									right: 25px;
									width: 25px;
									content: attr(value)"%";
								}
							}
						}
					}

					@media (max-width: $tabletBreak) {
						.Filler {
							animation: none;
						}
					}
				}
			}

			@media screen and (max-width: $tabletBreak) {
				width: 100%;
				padding: 0 20px;
			}
		}

		@media screen and (max-width: $tabletBreak) {
			flex-direction: column;
			width: auto;
			padding: 40px 20px;

		}
	}

	.experience-education-wrapper {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		background-color: $offwhite;
		width: 100%;

		.flex-container-lg {
			width: min(100%, $contentMaxWidth);
			gap: 4em;
			flex-wrap: wrap;
		}
	}

	.experience-wrapper {
		flex: 1 0 550px;
		max-width: 100%;

		.wrapper {
			display: flex;
			flex-direction: column;

			.experience {
				display: flex;
				gap: 15px;
				position: relative;
				padding: 25px 0;
				align-items: flex-start;

				&:before {
					content: "";
					background: $darkgrey;
					width: 3px;
					height: 100%;
					position: absolute;
					left: 37px;
				}


				.sphere {
					flex: 0 0 74px;
					width: 74px;
					aspect-ratio: 1/1;
					background-color: $primaryColor;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					color: white;
					z-index: 1;

					p {
						color: white;
					}
				}

				.content {
					flex: 1;
					display: flex;
					flex-direction: column;
					gap: 0.25em;

					h4 {
						font-family: 'Poppins Bold';
						font-size: 1.05em;
					}

					p {
						font-size: 1em;
					}

				}

				&:last-of-type {
					&:before {
						display: none;
					}
				}
			}


		}
	}

}

.instagram_feed_wrapper {
	padding: 80px 50px;
	margin: 0 auto;
	height: fit-content;
	text-align: center;
	background-color: $secondaryColor;

	h1 {
		font-family: 'Poppins Bold';
		margin-bottom: 50px;
	}

	.Feed {
		display: flex;
		flex-wrap: wrap;
		margin-top: 35px;
		flex-direction: row;
		justify-content: space-evenly;

		@media screen and (max-width: $mobileLargeBreak) {
			flex-direction: column;
		}
	}

	.Photo {
		width: fit-content;
		flex: 1 1 25%;
		position: relative;

		img {
			max-width: 420px;
			height: auto;
			max-height: 480px;
			margin: 15px 0 30px;
			margin-right: 10px;

		}

		@media screen and (max-width: $tabletBreak) {
			flex: 1;
			margin: 0 auto;

			img {
				margin: 25px auto;
			}
		}
	}

	.FollowInstagram a {
		width: fit-content;
		padding: 20px 30px;
		display: block;
		margin: 20px auto;
		border: 1px solid $lightorange;
		font-size: 1.4em;
		color: $lightorange;
		letter-spacing: 1.3px;
		cursor: pointer;
	}

	.FollowInstagram a:hover {
		background: $lightorange;
		color: $secondaryColor;
	}

	a:visited,
	a:link,
	a:hover,
	a:active {
		/* color: white; */
		text-decoration: none;
	}
}

@media screen and (max-width: $tabletBreak) {
	.Photo {
		flex: initial;
		width: 100%;
		max-width: 100%;
		height: auto;
		max-height: auto;
		margin-right: 0;
		padding-right: 0;
	}

	.instagram_feed_wrapper h1 {
		margin-bottom: 20px;
	}
}

.work-experience-wrapper,
.education-wrapper,
.certifications-wrapper,
.latest-projects-wrapper,
.about-page-wrapper {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 2em;

	a:visited,
	a:link,
	a:hover,
	a:active {
		text-decoration: none;
	}

	.page-content-wrapper {
		padding: 45px 60px;
		display: flex;
		width: min(100%, $contentMaxWidth);
		flex-direction: column;
		gap: 50px;

		@media screen and (max-width: $tabletBreak) {
			padding: 45px 20px;
		}
	}

	.Section {
		display: flex;
		flex-direction: row;
		gap: 4em;
		align-items: flex-start;
		flex-wrap: wrap;

		@media screen and (max-width: $tabletBreak) {
			flex-direction: column;
		}

		.header {
			flex: 0 0 min(300px, 100%);

			h2 {
				font-size: 2em;
				font-weight: 100;
				font-family: 'Poppins Bold';
				color: $secondaryColor;
				text-transform: capitalize;
			}

			@media screen and (max-width: $tabletBreak) {
				flex: 0 0 fit-content;
			}
		}

		.content-row {
			flex: 1 0 750px;
			font-family: 'Poppins Regular';
			color: $secondaryColor;
			display: flex;
			flex-direction: column;
			gap: 2.5em;

			.content {
				display: flex;
				flex-direction: column;
				gap: .5em;

				h3 {

					font-size: 1.25em;
					overflow-wrap: break-word;
					display: flex;
					align-items: center;
					gap: 8px;
				}

				h4 {
					display: flex;
					align-items: center;
					gap: 8px;
				}

				.container {
					width: 100%;
				}

				.responsibilities {
					padding: 1em 0 1em 1em;
					display: flex;
					flex-direction: column;
					gap: 0.5em;
				}

				strong {
					font-family: 'Poppins Bold';
				}

				span {
					font-weight: bold;
				}

				&.front-end,
				&.backend-end {
					display: flex;
					flex-direction: column;
					gap: 10px;

					h4 {
						font-size: 1.45em;
					}

					ul {
						padding-left: 15px;

						li {
							padding: 5px 0;
						}
					}
				}
			}

			.latest-projects {
				display: flex;
				flex-direction: column;
				gap: 20px;

				a {
					display: block;
					width: fit-content;
					padding: 12px 20px;
					border: 1px solid $lightorange;
					font-size: 1.1em;
					color: $secondaryColor;
					font-family: 'Poppins Regular';
					cursor: pointer;

					&:hover {
						background-color: $lightorange;
						color: white;
					}
				}
			}

			&.TechnologyRow {
				display: flex;
				justify-content: flex-start;
				width: 100%;
				flex-wrap: wrap;
				gap: 15px;
				flex-direction: row;
				align-items: flex-start;

				.tech-col {
					padding: 8px 15px;
					background-color: $offwhite;
					border-radius: 15px;
				}
			}
		}
	}
}

.projects-wrapper {
	.ProjectsContainer {
		display: block;
		height: 100vh;
		width: 100%;
		overflow: none;
		text-align: center;
		align-items: center;
		position: relative;
		background-color: $lightnavy;
		background-image: url('/images/Developer-Coding.jpg');
		background-size: cover;
		-webkit-background-size: cover;
		object-fit: cover;
		background-position: calc(82%);
		object-position: 44.7552% 80.7232%;
		-moz-background-size: cover;
		-webkit-animation: fadein 1s;
		-moz-animation: fadein 1s;
		-ms-animation: fadein 1s;
		-o-animation: fadein 1s;

		@media screen and (max-height: 800px) {
			background-position: calc(82%);
		}

		@media screen and (max-width: $tabletBreak) {
			background-position: calc(26%);
			height: 85vh;
		}

		@media screen and (max-width: $mobileLargeBreak) {
			background-position: calc(32%);
			height: 70vh;
		}

		.title {
			display: block;
			position: absolute;
			top: 20%;
			left: 150px;
			width: 700px;
			color: white;
			font-size: 4.5em;
			text-align: left;
			font-family: 'Bariol';

			h3 {
				font-weight: 100;
				font-family: 'Bariol';
			}

			@media screen and (max-width: $tabletBreak) {
				left: 50px;
				margin-left: -25px;
				width: 90%;
				// position: relative;
			}
		}

	}

	.projects-row {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
		gap: 3em;
		width: min(100%, $contentMaxWidth);
		margin: 0 auto;
		padding: 5em 2em;

		a {
			text-decoration: none;

			&:hover,
			&:visited {
				text-decoration: none;
			}
		}

		.project-card {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 2em;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;

			border-radius: 2em;
			box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
			padding: 1.5em;

			.preview-box {
				width: min(90%, 325px);
				aspect-ratio: 16/10;

				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}

			.card-content {
				display: flex;
				flex-direction: column;
				gap: 1em;
				width: 100%;

				h3 {
					font-size: clamp(1.1em, 3vw, 1.25em);
				}

				p {
					font-size: 1em;
				}

				.technology-wrapper {
					display: flex;
					flex-wrap: wrap;
					gap: 0.5em;

					p {
						padding: 0.35em 0.95em;
						background-color: $offwhite;
						border-radius: 1em;
					}
				}

				.link-button {
					display: flex;
					align-items: center;
					gap: 0.5em;
					color: $secondaryColor;
					text-decoration: none;
				}
			}
		}


	}

	.ProjectInformation {
		width: 100%;
		display: flex;
		flex-direction: column;
		color: $secondaryColor;
		max-height: 100%;
		overflow-y: auto;
		padding: 0px;

		img {
			width: 100%;
			display: block;
			max-width: 550px;
			max-height: 450px;
			margin: 0 auto;
		}

	}
}

.contact-wrapper {
	align-self: center;
	margin: 0 auto;

	.ContactForm {
		width: 100%;
		text-align: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 40px;
		padding: 50px;

		.contact-left-container,
		.contact-right-container {
			flex: 1 1 min(550px, 100%);
			display: flex;
			flex-direction: column;
			gap: 10px;
			text-align: center;
			font-family: 'Poppins Regular';
			align-items: center;
		}

		.contact-left-container {
			h3 {
				font-size: 1.25em;
				font-weight: 100;
				font-family: 'Poppins Light';
				color: $secondaryColor;
			}

			h2 {
				font-size: 2.2em;
				color: $secondaryColor;
				font-family: 'Poppins Regular';
			}

			a {
				font-size: 1.05em;
				color: $lightorange;
			}
		}

		.contact-right-container {

			h3 {
				font-size: 1.25em;
				font-family: 'Poppins Light';
				color: $secondaryColor;
			}

			.Form {
				margin: 10px 0;
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 20px;
				align-items: center;
				justify-content: center;

				button {
					padding: 8px 15px;
					background: $lightorange;
					border: none;
					color: white;
					font-size: 1.05em;
					width: fit-content;
					max-width: 100%;
					min-width: 155px;
					border-radius: 20px;
					cursor: pointer;
					font-family: 'Poppins Regular';
				}

				.InputError {
					color: red;
					text-align: left;
				}

				input,
				textarea {
					width: 100%;
					padding: 8px 15px;
					font-size: 1.05em;
					border: 1px solid $secondaryColor;
					font-family: 'Source Sans Pro';
					resize: none;
				}

				textarea {
					height: 100px;
					max-height: 300px;
					resize: vertical;
				}
			}

			.EmailSent {
				color: red;
			}
		}

		@media screen and (max-width: $tabletBreak) {
			flex-direction: column;
			padding: 50px 30px;
		}
	}

	.map-container {
		width: 100%;
		display: block;

		iframe {
			width: 100%;
			aspect-ratio: 16/10;
		}
	}
}

.blog-builder-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;

	.blog-wrapper {
		width: 100%;
		margin: auto;
		position: relative;
		height: 100%;
		min-height: 100vh;
		overflow: none;
		text-align: center;
		font-weight: bold;
		font-size: 1.2rem;
		background-color: $lightnavy;
		background-image: url('/images/software-dev-2.png');
		background-size: cover;
		-webkit-background-size: cover;
		object-fit: cover;
		background-position: calc(82%);
		object-position: 44.7552% 80.7232%;
		-moz-background-size: cover;
		-webkit-animation: fadein 1s;
		/* Safari and Chrome */
		-moz-animation: fadein 1s;
		/* Firefox */
		-ms-animation: fadein 1s;
		/* Internet Explorer */
		-o-animation: fadein 1s;

		/* Opera */
		@media screen and (max-height: 800px) {
			background-position: calc(82%);
		}

		@media screen and (max-width: $tabletBreak) {
			background-position: calc(90%);
			min-height: auto;
			height: 85vh;
		}

		@media screen and (max-width: $mobileLargeBreak) {
			height: 70vh;
			min-height: auto;
			background-size: cover;
			;
		}
	}

	.blogs-wrapper {
		position: relative;
		height: 100%;
		overflow: none;
		text-align: center;
		font-weight: bold;
		font-size: 1.2rem;
		background-color: $offwhite;
		padding: 50px;

		.blogs-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			gap: 60px;

			#blog {
				flex: 0 0 min(475px, 100%);
				text-align: left;
				font-family: 'Poppins Regular';

				a {
					display: flex;
					flex-direction: column;
					gap: 10px;
				}

				h3 {
					color: $secondaryColor;
					text-decoration: none;
				}

				p {
					font-weight: 100;
					color: $secondaryColor;
					text-decoration: none;
				}

				.image-container {
					width: 100%;
					display: block;
					height: 250px;

					img {
						width: 100%;
						display: block;
						height: 100%;
						transition: all 0.3s;
						object-fit: cover;
						transform: scale(1);

						&:hover {
							transform: scale(1.05);
						}

						@media screen and (max-width: $tabletBreak) {
							transform: none;
						}
					}
				}

				.read-more {
					width: fit-content;
					padding: 0;
					display: block;
					border: none;
					font-size: 0.9em;
					color: $lightorange;
					letter-spacing: 1.3px;
					border-bottom: 1px solid $lightorange;
					cursor: pointer;
				}

				a:visited,
				a:link,
				a:hover,
				a:active {
					color: white;
					text-decoration: none;
				}
			}
		}

		@media screen and (max-width: $tabletBreak) {
			padding: 50px 20px;

			.blogs-container {
				#blog {
					margin: 30px 30px 15px;
				}
			}
		}
	}
}

.flip-card-wrapper {
	perspective: 1000px;

	.flip-card-inner {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		transition: transform 0.6s;
		transform-style: preserve-3d;
		border-radius: 20px;
	}

	.flip-card-inner,
	.flip-card-back {
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		border-radius: 15px;
	}

	.flip-card-front {
		img {
			width: 250px;
		}
	}

	.flip-card-back {
		color: white;
		transform: rotateY(180deg);
	}

	&:hover {
		.flip-card-inner {
			transform: rotateY(180deg);
		}
	}
}

.project-details-wrapper {
	width: 100%;

	.hero-container {
		display: flex;
		width: min(100%, 950px);
		margin: 0 auto;
		height: 100%;
		position: relative;
		padding: 2em;
		top: auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1em;

		* {
			text-align: center;
		}

		h1 {
			font-size: 2.5em;
		}

		h4 {
			font-size: 1.45em;
		}

		p {
			font-size: 1.1em;
		}
	}

	.project-details-container {
		width: min(100%, $contentMaxWidth);
		margin: 0 auto;
		padding: 5em 2em;

		display: flex;
		flex-direction: column;
		gap: 3em;

		figure {
			width: min(750px, 100%);
			aspect-ratio: 16/9;
			overflow: hidden;
			margin: 0 auto;
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		.content {
			width: 100%;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			gap: 3em;

			.container {
				display: flex;
				flex-direction: column;
				gap: 15px;

				h3 {
					color: $secondaryColor;
					font-size: 1.65em;
				}

				h4 {
					color: $secondaryColor;
					font-size: 1.25em;
				}

				.description {
					font-size: 1em;
					display: flex;
					flex-direction: column;
					gap: 15px;
					width: 100%;

					ul {
						padding-left: 15px;

						li {
							padding: 3px 0;
						}
					}
				}
			}

			.technology-wrapper {
				.wrapper {
					display: flex;
					flex-wrap: wrap;
					gap: 1rem;
					align-items: center;

					p {
						padding: 0.65em 1.25em;
						background-color: $offwhite;
						border-radius: 1em;
						font-size: 1em;
					}
				}
			}

			.links-wrapper {
				.wrapper {
					display: flex;
					flex-direction: row;
					gap: 20px;
					flex-wrap: wrap;
					align-items: center;
					justify-content: flex-start;
				}
			}
		}
	}
}

.property-gallery-wrapper {

	h3 {
		color: $secondaryColor;
	}

	#gallery {
		width: min(100%, 950px);
		margin: 0 auto;
	}
}

.my-expertise-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 30px;

	.my-expertise-container {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
		gap: 30px;

		.item {
			flex: 0 0 max(30%, 450px);
			max-width: 100%;
			background-color: $lightblue;
			border-radius: 1em;
			padding: 1.85em;
			display: flex;
			flex-direction: column;
			gap: 10px;

			* {
				color: $secondaryColor;
			}

			.index {
				color: $secondaryColor;
			}

		}
	}
}